#root {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.style {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}